/* Google-Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
    width: 100%;
    min-height: 100vh;
}

/* header part css */
header {
    border-radius: 1.5em;
    background-color: #161616;
    margin: 2.2em 8.75em;


}

.top-banner {

    color: #FFFFFF;
    display: flex;

}

.banner-headings {
    padding-top: 5em;
    padding-left: 4em;
    padding-bottom: 5em;
}

.banner-heading {
    font-size: 2.2em;

}

.banner-text {
    padding-bottom: 1.2em;
}


.btn-banner a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}

.btn-banner {
    width: 13em;
    height: 4em;
    border: none;
    background: #DD0000;
    border-radius: 0.4em;

}

.btn-banner:hover {
    border: none;
    box-shadow: 0 8em 10em 0 rgba(255, 6, 6, 0.307), 0 1em 5em 0 rgba(246, 101, 101, 0.559);
    transition-duration: 0.5s;
}


.banner-img img {
    height: 30em;
    padding-right: 2.5em;

}

/*-----------------
 main part css start
---------------- */
main {
    display: flex;
    margin-right: 8.75em;
    margin-bottom: 8.125em;
}

.match-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 1.5em;
}

/* aside part css start  */
.side-bars {
    height: 19.5em;
    width: 19.5em;
    background-color: #161616;
    border-radius: 0.7em;
    margin-left: 8.75em;
    margin-right: 1.5em;
}

.side-bar-buttons a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    color: #161616;
}

.side-bar-buttons {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    row-gap: 2em;
    padding-top: 2.5em;

}

.side-bar-buttons button {
    width: 14em;
    height: 4em;
    border: none;
    border-radius: 0.5em;
    background-color: #FFFFFF;


}

.side-bar-buttons button:hover {
    border: none;
    box-shadow: 0 8em 10em 0 rgba(255, 6, 6, 0.307), 0 1em 5em 0 rgba(246, 101, 101, 0.559);
    transition-duration: 0.3s;
    background-color: #DD0000;

}

.side-bar-buttons button:hover a {
    color: #FFFFFF;
}

/* aside part css complete */
/* -----------------
Match-schedule part start 
-------------------- */
.match-schedule {
    width: 19.5em;
    height: 15.125em;
    text-align: center;
    border: 1px solid #4d4d4d5b;
    border-radius: 0.7em;
    padding-bottom: 8px;
    box-shadow: 4px 10px 8px 10px whitesmoke;
}

.teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3.3em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    justify-content: space-around;
}

.teams span {
    padding-top: 1em;
    font-weight: 700;
}

.match-time h3 {
    padding-top: 1.2em;
    font-size: 1.125em;
}

.match-time p {
    padding-top: 0.9em;
    font-size: 1em;
    color: #4D4D4D;
}


/* ----------------
footer part CSS start
 --------------------  */
footer {
    background-color: #161616;
    text-align: center;

}

footer h2 {
    color: #FFFFFF;
    padding-top: 4em;
    padding-bottom: 3em;
}

footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 82.5em;
    margin: auto;
}

.bottom-part {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
    margin: 3.25em 22em 3em 22em;
}

.bottom-part a {
    text-decoration: none;
    color: #B9B9B9;

}

.social-icon {
    color: #B9B9B9;
    padding: 1em;

}

/*--------------
 media queries here
 ------------- */
/* for small mobile devices  */
@media only screen and (max-width: 576px) {
    body {
        align-items: center;
    }

    header {
        width: 100vh;
    }

    .top-banner {
        flex-direction: column;
        align-items: center;
    }

    .banner-text {
        padding-right: 4em;
    }

    /* main part  */
    main {
        width: 100vh;
        flex-direction: column;
    }

    .match-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 2.2em;
        margin-left: 8.8em;
    }

    .bottom-part {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}

/* for medium tablet devices */
@media only screen and (max-width:577px) and (min-width:992px) {}